/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --bg-image:
        repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
        repeating-linear-gradient(to bottom,#d3d3d3 0 2px, transparent 2px 4px),
        repeating-linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
    --bg-color: #fff;
    --border-color: #000;
    --card-size: clamp(375px, 90vw, 700px);
    --card-size-mobile: 100vw;
    --text-outline-color: #fff;
    
    /* Fonts*/
    --main-font-family: "Inter", sans-serif;
    --accent-font-family: "PressStart2P", monospace;
    --main-font-size: 18px;
    --small-font-size: 14px;    
    --font-normal: 400;
    --font-bold: 700;
    --main-text-color: #000;
    --accent-text-color: #fff;

    /* Heart color */
    --like-icon-main-body-color: #f00;
    --like-icon-core-color: #fff;
    --like-icon-sparks-color: #f00;
    --like-icon-contour-color: #000;    
}